<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dc_glow_iocn_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>dc_mfgame2__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{482,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{482,184}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>dc_mfgame__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{260,60}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,41},{260,60}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{290,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,31},{290,80}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,398},{338,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,29},{338,82}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{394,62}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{394,62}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,486},{446,24}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{446,24}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{486,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{486,80}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{504,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{504,120}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
            <key>dc_mfgame__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{504,134}}</string>
                <key>sourceSize</key>
                <string>{512,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_dc_mfxulie.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:004bc3b6f04188ffac3587ab52d4ead3$</string>
            <key>textureFileName</key>
            <string>ef_dc_mfxulie.png</string>
        </dict>
    </dict>
</plist>
